<!DOCTYPE html>
<html>
  <head>
    <title>GemSentinel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag %>
    <script src="https://kit.fontawesome.com/000d9bfcce.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render 'shared/banner' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
